<div class="container">
    <mat-toolbar>
        <span>{{employeeService.employeeform.controls['empId'].value?"Edit Employee":"Add Employee"}}</span>
        <button class="btn-dialog-close"  color="warn" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
      </mat-toolbar>
<form [formGroup]="employeeService.employeeform" class="normal-form" (submit)="onSubmit()">
    <input type="hidden" formControlName="EmpId">
<mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
        <div class="controles-container">
            <mat-form-field>
                <input matInput placeholder="Name*" formControlName="name">
                <mat-error *ngIf="employeeService.employeeform.controls['name'].errors?.required">This Field Is Mandatory.</mat-error>
                <mat-error *ngIf="employeeService.employeeform.controls['name'].errors?.pattern">Enter Valid Name.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Email*" formControlName="email">
                <mat-error *ngIf="employeeService.employeeform.controls['email'].errors?.required">This Field Is Mandatory.</mat-error>
                <mat-error *ngIf="employeeService.employeeform.controls['email'].errors?.email">Enter Valid Email.</mat-error>
              </mat-form-field>
              <mat-radio-group formControlName="gender">
                <mat-radio-button value="MALE">Male</mat-radio-button>
                <mat-radio-button value="FEMALE">Female</mat-radio-button>
              </mat-radio-group>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="controles-container controles-container-2">
            <mat-form-field>
                <input matInput placeholder="MobileNo*" formControlName="mobileNo">
                <mat-error *ngIf="employeeService.employeeform.controls['mobileNo'].errors?.required">This Field Is Mandatory.</mat-error>
                <mat-error *ngIf="employeeService.employeeform.controls['mobileNo'].errors?.pattern">Enter Valid Mobile Number.</mat-error>
              </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" [min]="maxDate" placeholder="Date Of Joining" formControlName="dateOfJoining">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="button-row">
                <button mat-raised-button color="primary" type="submit" [disabled]="employeeService.employeeform.invalid">Submit</button>
                <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>
</form>
</div>